<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>  
  
    <!-- Scripts -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        const socket = io('http://localhost:3000');

        socket.on('connection');
    </script>
    <% let total=0; candidates.forEach((candidate)=> {
        total += parseInt(candidate.votes, 10);
        }); %>
    <% if (message.length > 0) { %>
        <h3 class="text-center message"><%= message %></h3>
    <% } %>

        <div id="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="title text-center my-5">Vote For Your Favorite Modern Muscle Car</h1>
                </div>
            </div>
            <div class="row">
                <% candidates.forEach((candidate)=> {
                    id = candidate.id;%>
                    <form id="photo_container" class="photo_container card col-md-4 p-3">
                        <img src="<%= candidate.srcUrl %>" alt="<%= candidate.altText %>" class="photo card-img-top">
                        <h4 class="photo_name card-title my-3">
                            <%= candidate.name %>
                        </h4>

                        <% if (notVoted) { %>
                            <a class="btn btn-primary vote_btn" type="button" href="/vote/<%= candidate.id %>">Vote</a>
                            <% } else { %>
                                <h5 class="votes_results text-center card-subtitle mb-2 text-muted"
                                    data-car="<%= candidate.id %>">
                                    <%= candidate.votes %> out of <%= total %> votes
                                </h5>
                                <script>
                                    socket.emit('results', '<%= candidate.id %>,<%= candidate.votes %> out of <%= total %> votes');
                                </script>
                                <% } %>
                    </form>
                    <% }) %>
            </div>
        </div>
        <script>
            socket.on('results', (data) => {
                console.log(data);
                var input = data.split(',')
                document.querySelector('[data-car=' + input[0] + ']').innerHTML = input[1];
            });
        </script>
<%- include('partials/footer.ejs') %> 