<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 card shadow mt-5">
            <img src="<%= candidate.srcUrl %>" class="card-img-top" alt="<%= candidate.altText %>">
            <h2 class="card-title"><%= candidate.name %></h2>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>